@tailwind base;
@tailwind components;
@tailwind utilities;

/* Se quiser trocar a cor de fundo padrão da página, pode adicionar aqui: */
body {
  background-color: #f3f4f6; /* Um cinza bem clarinho */
}